@import "tailwindcss";

body{
    user-select: none;
}

/* HIDE SCROLLBAR */

/* HIDE SCROLLBAR */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}